.userPhoto {
     width: 100px;
    height: 100px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.user{
  border: 3px solid #2f2f36;
  border-radius: 25px;
  padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.user img{
  border-radius: 100px;
}

.user > * + * {
    padding: 10px;
}

.paginator{
    margin: 0em 10em 3em 20em;
}